.single {
  display: flex;
  width: 100%;
}

.single .singleContainer {
  flex: 6;
}

.single .singleContainer .bottom {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  margin: 10px 20px;
}

.single .singleContainer .bottom .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.single .singleContainer .bottom .head h1 {
  font-weight: bold;
}

.single .singleContainer .title {
  font-size: 30px;
  color: rgb(101, 101, 101);
  margin-bottom: 20px;
}

.table .cellWrapper {
  display: flex;
  align-items: center;
}

.table .cellWrapper .image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.table .status {
  padding: 5px;
  border-radius: 5px;
}

.table .status.Approved {
  color: green;
  background-color: rgba(0, 128, 0, 0.151);
}

.table .status.Pending {
  color: goldenrod;
  background-color: rgba(189, 189, 3, 0.103);
}


.edit{
  padding: 10px;
  width: 40px;
  margin-right: 10px;
}

.delete{
  padding: 10px;
  width: 40px;
  margin-right: 10px;
}